# ===============================
# 📌 ARQUIVOS DE SISTEMA / EDITOR
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# 📦 DEPENDÊNCIAS
# ===============================
node_modules/

# ===============================
# 🔐 VARIÁVEIS DE AMBIENTE
# ===============================
.env
.env.*
!env.example

# ===============================
# 📁 BUILD / ARTEFATOS DE DEPLOY
# ===============================
dist/
build/

# ===============================
# 🧪 LOGS
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# 🗄️ CACHE
# ===============================
.cache/
.temp/

# ===============================
# 🔧 SISTEMAS DE TESTES
# ===============================
coverage/

# ===============================
# 🔧 SISTEMAS DE TYPESCRIPT (caso um dia você migre)
# ===============================
*.tsbuildinfo

# ===============================
# 🔒 BACKUPS
# ===============================
*.backup
